<form class="profile-form">
  <mat-form-field class="example-full-width">
    <mat-label>firstName</mat-label>
    <input matInput type="text" [formControl]="firstName" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>lastName</mat-label>
    <input matInput type="text" [formControl]="lastName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>phone</mat-label>
    <input matInput type="tel" [formControl]="phone">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>email</mat-label>
    <input matInput type="email" [formControl]="email">
  </mat-form-field>

</form>
