<form [formGroup]="formGroup"  class="experience-form" >
  <mat-form-field class="middle-width">
    <mat-label>from</mat-label>
    <input matInput type="date" formControlName="from" >
  </mat-form-field>
  <mat-form-field class="middle-width">
    <mat-label>to</mat-label>
    <input matInput type="date" formControlName="to" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Company</mat-label>
    <input matInput type="text" formControlName="companyLabel" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>job title</mat-label>
    <input matInput type="text" formControlName="jobTitle" >
  </mat-form-field>

  <ul>
    <div formArrayName="duties" *ngFor="let item of getDutiesControls(); let i = index;" class="example-full-width">
        <li>
        <mat-form-field class="duty">
              <mat-label>duty</mat-label>
              <input matInput type="text" [formControlName]="i" >
            </mat-form-field>

        <div style="display: inline-block">
          <mat-icon (click)="addDuty(i)">add_to_queue</mat-icon>
          <div *ngIf="this.getDutiesControls().length > 1" >
            <mat-icon (click)="removeDuty(i)">delete</mat-icon>
          </div>
        </div>
        </li>
    </div>
  </ul>
</form>
