<form (ngSubmit)="test()" [formGroup]="formExperiences">
<div fxLayout="column" fxLayoutGap="30px" >
  <div formArrayName="elements">
    <div *ngFor="let control of this.elements.controls; let i = index">
      <app-experience [formControlName]="i"></app-experience>
      <div fxLayout="row" fxLayoutAlign="end center" class="center-1000">
        <button mat-button (click)="deleteExperience(i)">
          <span>Delete experience</span>
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-button (click)="addExperience(i)">
          <span>Add experience</span>
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="center-1000" style="padding-top: 40px">
  <button mat-raised-button color="primary" type="submit" class="d-block mr-50 ml-auto">Submit</button>
</div>
</form>
